:root {
    --dianne: #254252;
    --mirage: #171c2d;
    --damask: #e37239;
    --buckthorn: #f9982F;
    --porsche: #eab56f;
}

body {
    background-color: var(--mirage);
    font-family: monospace;
}

.container{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 97vh;
    margin: 10px auto;
    gap: 15px;
}

#menuBar {
    padding: 20px 45px;
    background-color: var(--dianne);
    border-radius: 10px;
    align-self: center;
    display: flex;
    gap: 7px;
    align-items: center;
}
button, select{
    background-color: var(--damask);
    border: 2px solid var(--buckthorn);
    border-radius: 8px;
    padding: 5px 10px;
    color: white;
    letter-spacing: 1px;
    font-size: 14px;
    margin: 0 5px;
}
#color-display{
    display: inline-block;
    background-color: white;
    width: 25px;
    margin-left: 5px;
    height: 25px;
    border: 2px solid var(--damask);
    border-radius: 50%;
}

.tableContainer{
    background-color: var(--dianne);
    height: 100%;
    border-radius: 10px;
    padding: 25px;
}


td {
    border: 1px;
    border-style: solid;
    height: 50px;
    width: 50px;
    background-color: white;
}
